*{
    margin: 0;
    padding: 0;
}
body,html{
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px;
    width: 100% !important;
    height: 100% !important;

}
body{
    background: #d5dade  no-repeat center center ;
}
#myImg,#myImgTemp{
    width: 100%;
    height: 100%;
    background: no-repeat center center ;
    background-size: cover;
}
.all-bg #myImg,.all-bg #myImgTemp{
    background: no-repeat top center ;
    background-size: contain;
}
.canvas-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
}
.opt{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 12px;
}

.opt-m-btns{
    position: absolute;
    top: -40px;
    right: 0;
}
.opt-m-btns button{
    color: #333;
    background: rgba(255,255,255,0.3);
}

.opt-btns{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 998;
    padding: 10px;
}
.opt-holder{
    padding: 20px 20px 30px 20px;
}
.mdui-slider .mdui-slider-thumb {
    width: 50px;
    height: 50px;
    margin-top: -23px;
    margin-left: -25px;
}
.mdui-slider .mdui-slider-fill:after{
    /*content: '';*/
    /*position: absolute;*/
    /*height: 8px;*/
    /*width: 20px;*/
    /*right: -20px;*/
    /*bottom: 0;*/
    /*background-color: #ff4081;*/
}
.mdui-slider .mdui-slider-thumb span {
    font-size: 18px;
}
.mdui-slider-fill, .mdui-slider-track {
    height: 8px;
}
.mdui-slider {
    height: 32px;
    /*margin-left: -20px;*/
}
.mdui-slider-fill:before, .mdui-slider-track:before{
    /*margin-left: 20px;*/
    /*transform: translateX(20px);*/
}

body{
    -webkit-touch-callout:none;/*系统默认菜单被禁用*/
    -webkit-user-select:none;/*webkit浏览器*/
    -moz-user-select:none;/*火狐浏览器*/
    -ms-user-select:none;/*IE浏览器*/
    user-select:none;/*用户是否能够选中文本*/
}

.file-uploader{
    opacity: 0;
    width: 99px;
    height: 40px;
    background: #000;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 900;
}

.cur-title{
    position: absolute;
    top: -25px;
    left: 10px;
    color: #333;
    font-size: 14px;
    opacity: 0.7;
}
#myCvs{
    position: relative;
    z-index: 10;
}
#myImg,#myImgTemp{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
}

[v-cloak] {
    display: none;
}

.hide-opts .opt-holder,.hide-opts .opt-btns,.hide-opts .btn-reset{
    display: none;
}
.hide-tip{
    display: none;
}
.hide-opts .show-tip{
    display: none;
}
.hide-opts .hide-tip{
    display: inline;
}

.user-save-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}
.save-img-prew{
    width: 100%;
    height: 100%;
}
.save-img-tips{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    background: rgba(0,0,0,0.6);
    color: #FFF;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;

}
.close-save-btn{
    position: absolute;
    right: 10px;
    top: 10px;
}

.hide-opts .cur-title,.hide-opts .btn-v-h{
    display: none;
}
.mdui-btn{
    min-width: 60px;
    font-size: 12px;
}